nav {
  height: 5rem;
  background: var(--primary-900);
}
.navbar {
  color: var(--gray-100);
  text-align: center;
  padding-top: 0.7rem;
  position: relative;
}

.author {
  position: absolute;
  right: 0.4rem;
  top: 3.2rem;
  /* letter-spacing: 1px; */
}
@media screen and (max-width: 512px) {
  nav h2 {
    font-size: 2rem;
    padding: 0.7rem 1rem;
  }
}
@media screen and (min-width: 768px) {
  .author {
    right: 3rem;
  }
}
