.digitalClock {
  font-size: 1.25rem;
  padding: 0px 8px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  display: none;
  background: linear-gradient(
    45deg,
    #ff0099,
    #ff6600,
    #ffdd00,
    #00ffcc,
    #00aaff
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  box-shadow: inset 0 0 15px #ff0099cc, /* Inner shadow */ 0 0 5px #ffdd00,
    0 0 15px #00aaff, 0 0 20px #00ffcc;
  /* Outer glow */
  border-radius: 5px;
}

@media screen and (min-width: 648px) {
  .digitalClock {
    display: block;
  }
}
