.multi-select-search {
  border-top: 1px solid var(--gray-300);
  padding: 1rem 1rem 3rem;
}
.search-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--gray-900);
  border-radius: var(--border-radius);
}
.search-input input {
  border: transparent;
}
.search-input input:focus {
  outline: none;
}
.search-suggestion {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  border: 1px solid var(--gray-900);
  border-top: none;
  border-radius: var(--border-radius);
}
.user-name {
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.user-name span {
  font-size: large;
}
.user-name img {
  height: 1.25rem;
}
.user-pill {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  border: 1px solid var(--gray-900);
  border-radius: 20px;
  cursor: pointer;
}
.user-pill img {
  height: 1rem;
}
