.footer {
  background: var(--primary-900);
  padding-bottom: 3rem;
}
.footer-heading {
  padding: 1rem 1rem 0;
  color: #fff;
  text-decoration: underline;
}
.footer-heading i {
  margin-left: 0.5rem;
}
.footer-projects-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  margin: 0 1rem;
  gap: 5px;
}
.footer-projects-list li {
  flex: 1 1 13rem;
}
.footer-project-link {
  display: inline-block;
  color: var(--gray-300);
  padding: 0 1rem;
  border-radius: 0.1rem;
  transition: var(--transition);
}
.footer-project-link:hover {
  color: var(--white);
}
.copyright {
  max-width: 100%;
  color: #d7d7d7;
  text-transform: capitalize;
  text-align: center;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .copyright {
    margin-top: 3rem;
    font-size: larger;
  }
}
