.project-menu {
  min-height: 10rem;
  padding-bottom: 5rem;
  background: var(--primary-900);
}
.pj-menu-title {
  padding: 1rem 1rem 0;
  color: #fff;
  text-decoration: underline;
}
.pj-menu-title i {
  margin-left: 0.5rem;
}
.projects-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  margin: 0 1rem;
  gap: 5px;
}
.projects-list li {
  flex: 1 1 13rem;
}
.project-link {
  display: inline-block;
  color: var(--gray-300);
  padding: 0 1rem;
  border-radius: 0.1rem;
  transition: var(--transition);
}
.project-link:hover {
  color: var(--white);
}
.copyright {
  color: #d7d7d7;
  text-transform: capitalize;
  text-align: center;
  margin-top: 2rem;
}
